.avatar {
    margin: auto;
    width: 15%;
    height: 15%;
}

ion-header {
    --ion-background-color:#000000;
}

ion-title {
    color: #ffffff;
}

ion-content {
    --ion-background-color:#a3bfe0;
}